*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "CW BR Firma",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

html{
    line-height: 1.15;
    font-size: 62.5%;
}

body{
    font-family: "CW BR Firma",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

nav{
    display: flex;
    padding: 20px;
    align-items: center;
    height: 75px;
}

li{
    display: inline-block;
    padding: 20px;
    list-style: none;
    margin-left: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "CW BR Firma",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    opacity: .6;
}


.menu{
    width: 60%;
}
a{
    text-decoration: none;
}

.logo{
    margin-top: 5px;
}

.button{
    border-radius: 6px;
    padding: 10px 32px;
    font-family: "CW BR Firma",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 15px;
}
.button .button--outline{
    cursor: pointer;
    border: solid 1px #0066f5;
    background-color: transparent;
    color: #0066f5;
    font-weight: 400;
}

.button .button1{
    cursor: pointer;
    border: solid 1px #0066f5;
    background-color: #0066f5;
    color: #fff;
    margin-left: 15px;
    font-weight: 400;
}

h1{
    display: block;
    font-size: 3rem;
    color: #022b69;
    font-size: 5.46rem;
    font-weight: 700;
}

.hero p{
    color: #022b69;
    margin-top: 0;
    max-width: 80%;
    font-size: 1.8rem;
    font-weight: 400;
    position: relative;
    top: 30px;
    line-height: 1.7;
}

.container1{
    padding: 3rem;
    display: flex;
}

.wads img{
    width: 650px;
    height: 450px;
    left: 22%;
    top: -50%;
    margin-right: 30px;
}

.txt-1{
    position: relative;
    top: 100px;
}

.links{
    display: flex;
    position: relative;
    top: 50px;
}

.appstr{
    width: 148px;
    height: 80px;
    font-size: 1.5rem;
    margin-right: 24px;
}

.plystr{
    width: 148px;
    height: 80px;
    font-size: 1.5rem;
}

.sec img{
    width: 32px;
    height: 32px;
}

.sec{
    background: #fff;
    display: flex;
    border: 1px solid rgba(2, 43, 105, .06);
    padding: 12px 28px 12px 20px;
    border-radius: 12px;
    width: max-content;
    line-height: 1.15;
    justify-content: center;
    margin-left: 25px;
}

.sec-txt-1{
    font-size: 1.45rem;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: -.6px;
    color: #022b69;
}

.sec-txt-2{
    font-size: 1rem;
    color: rgba(2,43,105,.6);
    display: block;
}

.features{
    display: flex;
    padding: 25px;
    margin-top: 100px;
    justify-content: space-between;
}

.features p{
    color: #022b69;
    margin-top: 0;
    max-width: 80%;
    font-size: 1.8rem;
    font-weight: 400;
    top: 30px;
    line-height: 1.7;
}

.feat-left h2{
    display: block;
    font-size: 3rem;
    color: #022b69;
    font-size: 5.46rem;
    font-weight: 700;
    position: relative;
}
.feat-left .p1{
    position: relative;
}

.card1{
    height: 700px;
    margin-bottom: 80px;
    padding: 48px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #F4F6FF;
    border-radius: 20px;
    margin-top: 100px;
    overflow-y: hidden;
}

.card1 h6{
    font-size: 2.1rem;
    color: rgba(2,43,105,.6)!important;
    display: block;
    font-weight: 600;
    line-height: 1.25;
}
.card1 h4{
    font-size: 3.45rem;
    font-weight: 700;
    color: #022b69;
    display: block;
    margin-top: 10px;
}
.card1 p{
    line-height: 1.7;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(2,43,105,.6);
    margin: 15px 0;
}

.card1 a svg{
    height: 12px;
    width: 12px;
    fill: #0066f5;
    stroke: #0066f5;
    margin-left: 2px;
}

.card1 .button{
    background: none;
    color: #0066f5;
    font-size: 12.5px;
    font-weight: 600;
    line-height: 36px;
    border-radius: 6px;
    display: inline-block;
    border: none;
    position: relative;
    padding: 0;
}

.card1-img{
    position: absolute;
    bottom: -240px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.card1-img img{
    border-style: none;
    max-width: 320px;
    height: auto;
    overflow-y: hidden;
    /* bottom: -240px; */
}

.card2{
    height: 700px;
    margin-bottom: 80px;
    padding: 48px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #F4F6FF;
    border-radius: 20px;
    margin-top: 100px;
    overflow-y: hidden;
}

.card2 h6{
    font-size: 2.1rem;
    color: rgba(2,43,105,.6)!important;
    display: block;
    font-weight: 600;
    line-height: 1.25;
}
.card2 h4{
    font-size: 3.45rem;
    font-weight: 700;
    color: #022b69;
    display: block;
    margin-top: 10px;
}
.card2 p{
    line-height: 1.7;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(2,43,105,.6);
    margin: 15px 0;
}

.card2 a svg{
    height: 12px;
    width: 12px;
    fill: #0066f5;
    stroke: #0066f5;
    margin-left: 2px;
}

.card2 .button{
    background: none;
    color: #0066f5;
    font-size: 12.5px;
    font-weight: 600;
    line-height: 36px;
    border-radius: 6px;
    display: inline-block;
    border: none;
    position: relative;
    padding: 0;
}

.card2-img{
    position: absolute;
    bottom: -240px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.card2-img img{
    border-style: none;
    max-width: 320px;
    height: auto;
    overflow-y: hidden;
    /* bottom: -240px; */
}

.card3{
    height: 700px;
    margin-bottom: 80px;
    padding: 48px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #0066f5;
    border-radius: 20px;
    margin-top: 100px;
    overflow-y: hidden;
}

.card3 h6{
    font-size: 2.1rem;
    color: #F4F6FF;
    display: block;
    font-weight: 600;
    line-height: 1.25;
}
.card3 h4{
    font-size: 3.45rem;
    font-weight: 700;
    color: #F4F6FF;
    display: block;
    margin-top: 10px;
}
.card3 p{
    line-height: 1.7;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(2,43,105,.6);
    margin: 15px 0;
}

.card3 a svg{
    height: 12px;
    width: 12px;
    fill: #0066f5;
    stroke: #fff;
    margin-left: 2px;
}

.card3 .button{
    background: none;
    color: #fff;
    font-size: 12.5px;
    font-weight: 600;
    line-height: 36px;
    border-radius: 6px;
    display: inline-block;
    border: none;
    position: relative;
    padding: 0;
}

.card3-img{
    position: absolute;
    bottom: -240px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.card3-img img{
    border-style: none;
    max-width: 320px;
    height: auto;
    overflow-y: hidden;
    /* bottom: -240px; */
}

.card4{
    height: 700px;
    margin-bottom: 80px;
    padding: 48px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff6ee;
    border-radius: 20px;
    margin-top: 100px;
    overflow-y: hidden;
}

.card4 h6{
    font-size: 2.1rem;
    color: rgba(2,43,105,.6)!important;
    display: block;
    font-weight: 600;
    line-height: 1.25;
}
.card4 h4{
    font-size: 3.45rem;
    font-weight: 700;
    color: #022b69;
    display: block;
    margin-top: 10px;
}
.card4 p{
    line-height: 1.7;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(2,43,105,.6);
    margin: 15px 0;
}

.card4 a svg{
    height: 12px;
    width: 12px;
    fill: #0066f5;
    stroke: #0066f5;
    margin-left: 2px;
}

.card4 .button{
    background: none;
    color: #0066f5;
    font-size: 12.5px;
    font-weight: 600;
    line-height: 36px;
    border-radius: 6px;
    display: inline-block;
    border: none;
    position: relative;
    padding: 0;
}

.card4-img{
    position: absolute;
    bottom: -240px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.card4-img img{
    border-style: none;
    max-width: 320px;
    height: auto;
    overflow-y: hidden;
    /* bottom: -240px; */
}

.card5{
    height: 700px;
    margin-bottom: 80px;
    padding: 48px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff6ee;
    border-radius: 20px;
    margin-top: 100px;
    overflow-y: hidden;
}

.card5 h6{
    font-size: 2.1rem;
    color: rgba(2,43,105,.6)!important;
    display: block;
    font-weight: 600;
    line-height: 1.25;
}
.card5 h4{
    font-size: 3.45rem;
    font-weight: 700;
    color: #022b69;
    display: block;
    margin-top: 10px;
}
.card5 p{
    line-height: 1.7;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(2,43,105,.6);
    margin: 15px 0;
}

.card5 a svg{
    height: 12px;
    width: 12px;
    fill: #0066f5;
    stroke: #0066f5;
    margin-left: 2px;
}

.card5 .button{
    background: none;
    color: #0066f5;
    font-size: 12.5px;
    font-weight: 600;
    line-height: 36px;
    border-radius: 6px;
    display: inline-block;
    border: none;
    position: relative;
    padding: 0;
}

.card5-img{
    position: absolute;
    bottom: -240px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.card5-img img{
    border-style: none;
    max-width: 320px;
    height: auto;
    overflow-y: hidden;
    /* bottom: -240px; */
}

.card6{
    height: 700px;
    margin-bottom: 80px;
    padding: 48px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #F4F6FF;
    border-radius: 20px;
    margin-top: 100px;
    overflow-y: hidden;
}

.card6 h6{
    font-size: 2.1rem;
    color: rgba(2,43,105,.6)!important;
    display: block;
    font-weight: 600;
    line-height: 1.25;
}
.card6 h4{
    font-size: 3.45rem;
    font-weight: 700;
    color: #022b69;
    display: block;
    margin-top: 10px;
}
.card6 p{
    line-height: 1.7;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(2,43,105,.6);
    margin: 15px 0;
}

.card6 a svg{
    height: 12px;
    width: 12px;
    fill: #0066f5;
    stroke: #0066f5;
    margin-left: 2px;
}

.card6 .button{
    background: none;
    color: #0066f5;
    font-size: 12.5px;
    font-weight: 600;
    line-height: 36px;
    border-radius: 6px;
    display: inline-block;
    border: none;
    position: relative;
    padding: 0;
}

.card6-img{
    position: absolute;
    bottom: -240px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.card6-img img{
    border-style: none;
    max-width: 320px;
    height: auto;
    /* overflow-y: hidden; */
    /* bottom: -240px; */
}

.container2{
    margin: 0 auto;
    max-width: 1310px;
    padding: 0 20px;
    width: 100%;
}

.grid{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex: 0 1 auto;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.left-col{
    padding: 0;
}

.left-col .left-col-img{
    height: 760px;
    width: 100%;
    position: relative
}

.left-col .left-col-img img {
    object-fit: cover;
    /* position: absolute; */
    top: 52px;
    max-height: 100%;
    max-width: 100%
}

.right-col{
    flex-direction: column;
}

.right-col h3{
    font-size: 3.9rem;
    line-height: 1.25;
    margin-bottom: .7em;
    font-weight: 700;
}